 body{
background:url(fondo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

tbody{
	background-color:white;
}


}
button{
	width: 150px;height: 50px;
}
input{
	width: 250px;height: 30px;font-size: 20px;
}
select{
	width: 150px;height: 30px;
}

table{
  width: 100%;
  border-collapse: collapse;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
